.app-root {
	width: 100%;
  height: 100%;
  // background-color:seagreen;
}
.title {
  text-align: center;
  background-color: aqua;
  margin-left: 70px;
  margin-right: 70px;
}
.err{
  text-align: center;
  color: red;
  border: red;
  background-color: rgb(15, 13, 11);
  border-radius: 50px;
  font-weight: bold;
  border:dotted;
}